<h1>Caesarverschlüsselung</h1>
<body>
  <div class="alert alert-primary">
    <fieldset id="a">
      <label>Bitte geben Sie Ihren zu verschlüsselnden Text im folgenen Bereich ein:</label>
    </fieldset>
    <textarea id = "input-text" name="inputText" ngModel required #inputText="ngModel"></textarea>
    <fieldset>
      <label>Verschiebungswert</label>
    </fieldset>
    <fieldset id="offsetfiled">
        <input #offset id = "offset" type = "number" (click)="setOffset(offset.value)" (blur)="setOffset(offset.value)" min="1" required>
    </fieldset>
    <button type="button" class="btn btn-outline-secondary" (click)="codeText(inputText.value)">
        Verschlüsseln
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="decodeText(inputText.value)">
        Entschlüsseln
    </button>
  </div>

  <div class="alert alert-success">  
    <fieldset id="b">
        <label>Ergebnis des verschlüsselten Textes</label>
    </fieldset> 
    <textarea id = "outputTextareaBox" rows = "4" cols = "40">{{cipherText}}</textarea>
  </div>
</body>